.DS_Store
.venv/
data/
*.ipynb
__pycache__/
.vscode/
CLAUDE.md
.claude/
.pytest_cache/
runs/
docs/
MODEL.md
debug/
scripts/
oceananigans_test/
oceananigans_full/
logs/
stats/out/

thesis/mitthesis/
*.aux
*.log
*.err
*.out
*.bcf
*.lof
*.lot
*.xml
*.gz
*.toc
*.bbl
*.blg
thesis/